# ------------------------
# Python cache
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------
# Virtual environment
# ------------------------
venv/
venvpython/
env/

# ------------------------
# OS files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# IDE
# ------------------------
.vscode/
.idea/

# ------------------------
# Logs
# ------------------------
logs/
*.log

# ------------------------
# Data files (IGNORE DATASET)
# ------------------------
data/
Dataset/
*.csv

# ------------------------
# ML experiment files
# ------------------------
mlruns/
*.h5
*.pt
*.zip

# ------------------------
# Environment variables
# ------------------------
.env

# ------------------------
# KEEP THESE (IMPORTANT)
# ------------------------
# ❗ DO NOT IGNORE:
# artifacts/
# *.pkl
# *.joblib