<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
</head>
<body>

<h1>Fraud Detection System</h1>

<form action="/predict" method="post">

    <input type="number" step="any" name="Time" placeholder="Time" required><br><br>
    <input type="number" step="any" name="V1" placeholder="V1" required><br><br>
    <input type="number" step="any" name="V2" placeholder="V2" required><br><br>
    <input type="number" step="any" name="V3" placeholder="V3" required><br><br>
    <input type="number" step="any" name="V4" placeholder="V4" required><br><br>
    <input type="number" step="any" name="V5" placeholder="V5" required><br><br>
    <input type="number" step="any" name="V6" placeholder="V6" required><br><br>
    <input type="number" step="any" name="V7" placeholder="V7" required><br><br>
    <input type="number" step="any" name="V8" placeholder="V8" required><br><br>
    <input type="number" step="any" name="Amount" placeholder="Amount" required><br><br>

    <button type="submit">Predict</button>

</form>

</body>
</html>