<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
</head>

<body>

<h2>Fraud Detection System</h2>

<form action="/predict" method="post">

    Time: <input type="number" step="any" name="Time" required><br><br>
    Amount: <input type="number" step="any" name="Amount" required><br><br>

    V1: <input type="number" step="any" name="V1" required><br><br>
    V2: <input type="number" step="any" name="V2" required><br><br>
    V3: <input type="number" step="any" name="V3" required><br><br>
    V4: <input type="number" step="any" name="V4" required><br><br>
    V5: <input type="number" step="any" name="V5" required><br><br>
    V6: <input type="number" step="any" name="V6" required><br><br>
    V7: <input type="number" step="any" name="V7" required><br><br>
    V8: <input type="number" step="any" name="V8" required><br><br>

    <button type="submit">Test Prediction</button>

</form>

</body>
</html>